<div class="gridLayout teste">
    <div class="gridContainer content">

        <section class="layout">

            <div class="bannerPrincipal">
                <div class="contentBannerPrincipal">
                    <div class="filter textBannerPrincipal">
                        <h1>Tendencias 2021</h1>
                    </div>
                </div>
            </div>

            <div class="bannerSecundario">
                <div class="contentBannerSecundario">
                    <div class="filter textBanner">
                        <h1>Moda feminina</h1>
                    </div>
                </div>
            </div>

            <div class="bannerTerciario">
                <div class="contentBannerTerciario">
                    <div class="filter textBanner">
                        <h1>Moda infantil</h1>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>