<div class="headerFooter">
    <header class="gridLayout header">
        <section class="gridContainer">
            <div class="menu">
                <div class="logo">
                    <div class="logoBar">
                        <p><a href="/">Outfit</a></p>
                    </div>
                    <div class="menuHamburger">
                        <div id="bar1" class="bar"></div>
                        <div id="bar2" class="bar"></div>
                        <div id="bar3" class="bar"></div>
                    </div>
                </div>
                <div class="menuBar">
                    <ul>
                        <li><a href="#">Masculino</a></li>
                        <li><a href="#">Feminino</a></li>
                        <li><a href="#">Infantil</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </header>
</div>